<!doctype html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="index.css">

		<title>Tic Tac Toe Sign In</title>
	</head>

	<body>
		<p> LOGIN</p>
		<form  method='post' action="{{url_for('routes.ttt'  )}}">

			<input type="text" name="name" id='name'/><br><br>
			<button id='indexSubmit' type='submit' > Submit </button>

		</form>
	</body>

</html>
