<<<<<<< HEAD
<!doctype html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="index.css">

		<title>Log In</title>
	</head>
		
	<body>
		<p> Login Page     </p>
		<form  method='post' action="{{url_for('login'  )}}"> 
			
			Username: <input type="text" name="username" /><br><br>
			Password: <input type='password' name="password"/><br><br>
			<button id='indexSubmit' type='submit' > Submit </button> 
		
		</form>
	</body>	

=======
<!doctype html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="index.css">

		<title>Log In</title>
	</head>
		
	<body>
		<p> Login Page     </p>
		<form  method='post' action="{{url_for('login'  )}}"> 
			
			Username: <input type="text" name="username" /><br><br>
			Password: <input type='password' name="password"/><br><br>
			<button id='indexSubmit' type='submit' > Submit </button> 
		
		</form>
	</body>	

>>>>>>> 2312ce230f07d830efacd502d3ebd10a88b946bc
</html>